In [1]:
import pandas

In [3]:
ds=pandas.read_csv('Salary_Data.csv')

In [4]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [5]:
x=ds['YearsExperience']

In [6]:
y=ds['Salary']

In [7]:
x

0      1.1
1      1.3
2      1.5
3      2.0
4      2.2
5      2.9
6      3.0
7      3.2
8      3.2
9      3.7
10     3.9
11     4.0
12     4.0
13     4.1
14     4.5
15     4.9
16     5.1
17     5.3
18     5.9
19     6.0
20     6.8
21     7.1
22     7.9
23     8.2
24     8.7
25     9.0
26     9.5
27     9.6
28    10.3
29    10.5
Name: YearsExperience, dtype: float64

In [8]:
x=x.values.reshape(30,1)

In [9]:
x.shape

(30, 1)

In [10]:
from sklearn.linear_model import LinearRegression

In [13]:
mind=LinearRegression()

In [14]:
mind.fit(x,y)

LinearRegression()

In [17]:
mind.predict([[1]])

array([35242.16252012])

In [18]:
ds

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [19]:
import joblib

In [23]:
joblib.dump(mind, 'salary_predicter.pk1')

['salary_predicter.pk1']

In [1]:
mind.predict([[7]])

NameError: name 'mind' is not defined

In [25]:
clear

In [26]:
cls

In [27]:
exit

In [1]:
mind.predict([[3]])

NameError: name 'mind' is not defined

In [2]:
joblib.load(slary_predicter.pk1)

NameError: name 'joblib' is not defined